* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
    background: #13c9f2;
}

.form-login {
    float: right;
    width: 400px;
    height: 340px;
    background: #f0f0f2;
    margin: auto;
    margin-right: 150px;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000000;
    padding: 20px 30px;
    border-top: 4px solid #000000;
    color: black;
    
}

.login {
    width: 200px;
    height : 50px;
    background-color: #0367a6;
    text-align: center;
    text-decoration: none;

}

.login p {
    font-size: 30px;
}

.register {
    width: 200px;
    height : 50px;
    background-color: #79f2f2;
    text-align: center;
    text-decoration: none;

}

.register p {
    font-size: 30px;
}

.form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.controls {
    width: 100%;
    border: 1px solid black;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: white;
    font-size: 14px;
    font-weight: bold;
}

.bottons {
    width: 100%;
    height: 30px;
    background: white;
    border: none;
    color: black;
    margin-bottom: 16px;
}

.form-login p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.form-login a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.form-login a:hover {
    text-decoration: underline;
}

.logo {
    margin: auto;
    margin-left: 150px;
    margin-top: 180px;
}