<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>

    <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" width="400px" height="300px">

        
    <form class="form-login" 
        name="formRegistro"
        method="POST"
        name="formRegistro"
        action="{{ url_for('index')  }}">
        <table>
            <tr>
                <td class="login"><div><p> <a href="/">Iniciar Sesión</a> </p></div></td>
                <td class="register"><div><p> <a href="/registro">Registrate</a> </p></div></td>
            </tr>
        </table>
        {{form.csrf_token }}
        <div class="form-group"> 
            {{form.username(class_="controls", placeholder="Usuario o Correo")}} 
        </div>
        <ul>
            {%for error in form.username.errors %}
                <li style="color:red"> {{error}} </li>
            {%endfor %}
            </ul>
        <div class="form-group"> 
            {{form.password(class_="controls", placeholder="**********")}} 
        </div> 
        <ul>
            {%for error in form.password.errors %}
                <li style="color:red"> {{error}} </li>
            {%endfor %}
        </ul>

            <input type="checkbox" name="condiciones">Recordarme
            <button class="controls" type="submit" name="ingresar" value="ingresar">Ingresar</button>
            
            <p><a href="">¿Olvidaste tu contraseña?</a></p>
    </form>
    

</body>
</html>